* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0e0e0e;
  color: #fff;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav a {
  color: #ccc;
  text-decoration: none;
}

.nav a:hover {
  color: #ff7a18;
}

.logo {
  color: #ff7a18;
}

/* HERO */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #444;
  background-color: #222;
}

.hero {
  min-height: 100vh;
  background: radial-gradient(circle at right, #ff7a18 0%, #0e0e0e 60%);
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px;
}

.hero-text h1 {
  font-size: 3rem;
}

.hero-text span {
  color: #ff7a18;
}

.hero-text h3 {
  margin: 15px 0;
  color: #aaa;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 12px 25px;
  border: 1px solid #ff7a18;
  color: #ff7a18;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 30px;
}

.primary {
  background: #ff7a18;
  color: #000;
}

.hero-image img {
  width: 280px;
  border-radius: 50%;
  border: 6px solid #ff7a18;
}

/* SECTIONS */
.section {
  padding: 80px 60px;
  text-align: center;
}

.section h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.dark {
  background: #161616;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.stats h3 {
  color: #ff7a18;
}

/* SKILLS */
.skill-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.skill-list span {
  background: #222;
  padding: 10px 20px;
  border-radius: 20px;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #1c1c1c;
  padding: 40px;
  border-radius: 12px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #000;
  color: #777;
}

/* RESPONSIVE */
@media (max-width: 768px) {
   .profile-photo {
    width: 100px;
    height: 100px;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .nav {
    flex-direction: column;
    gap: 15px;
  }
}